{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Podilato{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="welcome_header">
        {% if user.is_authenticated %}
                <p>Welcome {{ user.username }}!</p> 
         
        {% else %}
        <p> Welcome Guest! </p>  
{% endif %}

    </div>
    
    <div id="header">
    <a href="/" class="logo"><img src="{% static "img/logo.jpeg" %}" alt="Logo"/>Podilato</a>
        

    <!--<a href="/" class="logo">Podilato</a>-->
    </div>
    
    <div id="subheader">
            
        <div class="cart">
            {% with total_items=cart|length %} 
                {% if cart|length > 0 %}
                    Your cart: 
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }} 
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>


        <div id='logButtons'>
            {% if user.is_authenticated %}
            <a href="{% url "account:logout" %}">Logout</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            {% else %}
            <a href="{% url "account:signup" %}">Not a member? Register!</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="{% url "account:login" %}">Login</a>&nbsp;&nbsp;|&nbsp;&nbsp;

            {% endif %}
            <a href="/" class="logo">Home</a>
        </div>
        <div>
            <form method="GET" action="{% url 'bikes:search' %}">
                <input name="q" value="{{ request.GET.q }}" placeholder="search..">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>


    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        Your feedback will help us improve our products! &nbsp;<a href="{% url "reviews:review_create" %}" class="button">Review our products!</a>
&nbsp; | &nbsp; </footer>
</body>
</html>