{% extends "bikes/base.html" %}
{% load static %}

{% block title %}
   {% if brand %} {{brand.title}} {% else %}Bikes{% endif %}
{% endblock %}

{% block content %}
    <div class="bike-detail">
        <img src="{% if bike.image %}{{ bike.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ bike.name }}</h1>
        <h2><a href="{{ bike.brand.get_absolute_url }}">{{ bike.brand }}</a></h2>
        <p class="price">${{ bike.price }}</p>
        <form action="{% url "cart:cart_add" bike.id %}" method="post">
        	{{cart_bike_form}}
        	{% csrf_token %}
        	<input type="submit" value="Add to cart">
        </form>
        <div>
            <a href="{% url "review:review_create" %}" class="button">Review this bike!</a>

        </div>
        
        {{ bike.description|linebreaks }}
    </div>
{% endblock %}

        
        
        
