{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}My store{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Store</a>
    </div>
    <div id="memberHeader">

         Welcome! this is the user: {{ account.get_user_label }} <br>
        <a href="{% url "order:order_create" %}" class="button">Checkout!</a><br>
    	<a href="{% url "account:signup" %}">Not a member? Register!</a><br>
    	<a href="{% url "account:login" %}">Login</a><br>
        <a href="{% url "account:logout" %}">Logout</a>

    </div>
    <div id="subheader">
        <div class="cart">
            
            {% with total_items=cart|length %}
                
               
                {% if cart|length > 0 %}
                    Your cart: 
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }} 
                    </a>
                {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>